@using Abp.MultiTenancy
@using NEXARC.Web.Models.Common.Modals
@using NEXARC.Web.Views.Shared.Components.TenantChange
@model ChangeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeTenant")))

<form name="TenantChangeForm" role="form" novalidate class="form-horizontal form-validation">
    <div class="modal-body">
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">@L("TenancyName")</label>
            </div>
            <div class="col-md-9">
                <input name="TenancyName" class="form-control" type="text" maxlength="@AbpTenantBase.MaxTenancyNameLength.ToString()" value="@Model.TenancyName">
            </div>
        </div>
        <span class="help-block"><i class="fa fa-info-circle"></i> @L("LeaveEmptyToSwitchToHost")</span>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Shared/Components/TenantChange/_ChangeModal.js" asp-append-version="true"></script>
